<ion-modal-view hide-nav-bar="true">
    <div class="bar bar-header bar-clean">
            <button class="button button-small button-positive button-primary pull-left ion-chevron-left" ng-click="addDialog.hide()">Cancel</button>        
        <h1 class="title">Add a history list</h1>
    </div> 
    <ion-content class="scroll-content ionic-scroll  has-header has-footer">
        <form name="form" ng-model="form" ng-submit="submit(action,form)">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Name your list" name="name" ng-model="addDialog.item.name" required />  
                <input type="hidden" placeholder="Key of the list" name="key" ng-model="addDialog.key" required />
            </label>
            <button class="button button-small button-balanced button-balanced ion-chevron-right" type="submit"> Go </button>
          </div>
        </form>
    </ion-content>
</ion-modal-view>
